*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #576CA8;
}
  
  /* Style for each product container */
  .wrap-produkt {
    padding: 10px; 
    text-align: center; 
    border: 2px solid #180041;
    padding: 25px;
    background-color: #19535F;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .produkt-bild {
    width: 200px;
    height: auto; 
    padding: 1em;
  }
  
  .produkt-namn {
    margin-top: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    color: #19535F;
  }


  .pris {
    font-weight: bold; 
    color: #19535F;
  }

  .produkt-kort{
    display: flex;
    flex-direction: column;
    height: 310px;
    background-color: #F0F3F5;
    margin: 0 auto;
    border-radius: 10px;
    /* border: 2px solid #000000; */
    justify-content: space-between;
  }
  

.Vår-skrik,
.Kassa,
.Log-in {
  text-decoration: none;
  padding: 10px;
  color: #fbfbfb;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
}


.Vår-skrik:hover,
.Kassa:hover,
.Log-in:hover {
  color: #34097F; 
}


.Vår-skrik.active,
.Kassa.active,
.Log-in.active {
  font-weight: bold;
}

  /* .köp-knapp {
    border: none;
    border-radius: 50px;
    background-color: #8AFFC1;
    margin-bottom: 1em;
    margin: 0.2em;
  }
   */
